[submodule "software/--force"]
	path = software/--force
	url = https://github.com/Squantor/squantorLibC.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
[submodule "software/squantorMinUnit"]
	path = software/squantorMinUnit
	url = https://github.com/Squantor/squantorMinUnit.git
[submodule "software/libMcuLL"]
	path = software/libMcuLL
	url = https://github.com/Squantor/libMcuLL.git
[submodule "electronics/squantorPcbLibrary"]
	path = electronics/squantorPcbLibrary
	url = https://github.com/Squantor/squantorPcbLibrary.git
[submodule "software/squantorLibEmbedded"]
	path = software/squantorLibEmbedded
	url = git@github.com:Squantor/squantorLibEmbedded.git
