[submodule "software/--force"]
	path = software/--force
	url = git@github.com:Squantor/squantorLibC.git
[submodule "software/squantorLibC"]
	path = software/libraries/squantorLibC
	url = git@github.com:Squantor/squantorLibC.git
[submodule "software/squantorMinUnit"]
	path = software/squantorMinUnit
	url = git@github.com:Squantor/squantorMinUnit.git
[submodule "software/libMcuLL"]
	path = software/libMcuLL
	url = git@github.com:Squantor/libMcuLL.git
[submodule "electronics/squantorPcbLibrary"]
	path = electronics/squantorPcbLibrary
	url = git@github.com:Squantor/squantorPcbLibrary.git
[submodule "software/squantorLibEmbedded"]
	path = software/squantorLibEmbedded
	url = git@github.com:Squantor/squantorLibEmbedded.git
